<!DOCTYPE html>
<html>

<head>
    <title>{{subject}}</title>
</head>

<body>
    <h1>Template Name Default 2</h1>
    <h1>Hello, {{name}}</h1>
    <p>Thank you for your submission.</p>
    <p>We have received your form with the following details:</p>
    <ul>
        <li>Name: {{name}}</li>
        <li>Email: {{email}}</li>
    </ul>
</body>

</html>